<!--
<p>
  <mat-icon [matBadge]="products.length" matBadgeColor="primary"></mat-icon>
</p>
-->

<!-- <div fxLayout="row wrap" fxLayout.lt-md="column">
  <mat-card fxLayout="column" fxLayoutAlign="space-around center" fxFlex="20" *ngFor="let product of products | async" class="card-usuario">
      <mat-card-title>
        <img src="{{product.imagem}}" class="imagemCards">
      </mat-card-title>
    <mat-card-content>
     <p> {{product.nome}}</p>
     <p> {{product.valor | cifrao}} ou </p>
     <p> <span>{{product.parcelado}}</span> {{product.parcelado | parcela : product.valor }} </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="removerProduct(product)" class="botao">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/cadastrarproduto', product.id]" class="botao">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>
</div> -->

<div fxLayout="row wrap" fxLayout.lt-md="column" class="mx-3 gap-x-4">
  <div class="py-6" *ngFor="let product of products | async">
    <div class="flex max-w-xl bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="w-2/4 bg-cover" style="background-image: url({{product.imagem}})">
      </div>
      <div class="w-full p-4 relative">
        <div class="absolute right-0 top-0">
          <div class="flex gap-x-2">
            <button mat-icon-button [routerLink]="['/cadastrarproduto', product.id]" class="botao">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="removerProduct(product)" class="botao">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <h1 class="text-gray-900 font-bold text-2xl">{{product.nome}}</h1>
        <p class="mt-2 text-gray-600 text-md">Os melhores produtos na melhor loja do mercado! Venha já conhecer essa qualidade impressionante e com um preço mínimo.</p>
        <div class="flex item-center mt-2">
          <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
          </svg>
          <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
          </svg>
          <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
          </svg>
          <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
          </svg>
          <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
          </svg>
        </div>
        <div class="flex item-center justify-between mt-3">
          <h1 class="text-gray-700 font-bold text-xl">{{ product.valor | cifrao }}</h1>
          <button class="px-3 py-2 bg-gray-800 text-white text-sm font-bold uppercase rounded">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
